{% macro objectRender(key, object) %}
	<div>
		
			{% if key %}<strong>{{key}}:</strong>{% endif %}
			{% if object|type === "Object" %}
				<div style="padding: 5px; border-top: 1px solid #DDD; border-bottom: 1px solid #DDD; margin: 5px">
					{% for property in object %}
						{{ objectRender(loop.key, property) }}
					
					{% endfor %}
				</div>
			{% elif object|type === "Array" %}
				<ul>
					{% for property in object %}
						<li>{{ objectRender(null, property) }}</li>
					{% endfor %}
				</ul>
			{% elif object|type === "Primitive" %}
				{{ object }}
			{% endif %}
		
	</div>
{% endmacro %}
<p>{{page.description}}</p>

{% autoescape false %}
	
	{% for property in page.data %}
		<a name={{loop.key}}></a>
		<div class="panel panel-default">
			<div class="panel-heading">{{loop.key}}</div>
			<table class="table table-bordered">
				{% for subProperty in property %}
					{% if loop.key === "description" %}

						<div class="panel-body">{{subProperty}}</div>
					{% else %}
						<tr>
							<td>
								{{ objectRender(loop.key, subProperty) }}
							</td>
						</tr>
					{% endif %}
			{% endfor %}
			</table>
		</div>
	{% endfor %}
	
{% endautoescape %}

