{% autoescape false %}
<div class="panel panel-default">
	<div class="panel-heading">
		JavaScript Functions
		
		<div class="checkbox">
          <label>
            <input type="checkbox" id="toggle-Private-visibility" onClick="toggleVisibility('Private')">Show Private</label>
        </div>
		
		<div class="checkbox">
          <label>
            <input type="checkbox" id="toggle-Inherited-visibility" onClick="toggleVisibility('Inherited')">Show Inherited</label>
        </div>
	</div>
	<div class="panel-body" style="padding: 0px;">
		<table class="table table-hover" style="margin-bottom: 0px;">
			{% for fn in page.js %}			
				<tr 
					class="function-{% if fn.documentation.isPrivate %}Private{% else %}Public{% endif %}-visibility
					{% if fn.inheritedFrom %}function-Inherited-visibility{% endif%}" {% if fn.inheritedFrom or fn.documentation.isPrivate %}style="display: none"{% endif %}>
					<td>
						<a name="{{fn.title}}"></a>
						<p>
							{% if fn.documentation.isPrivate %}<em style="color: rgb(153, 80, 48);">private</em>{% else %}<span style="color: rgb(56, 132, 176);">public</span>{% endif %} <strong>{{fn.title}}</strong> ({{ fn.parameters | join(', ') }})
						</p>
						<p>
							{{fn.description}}
						</p>
						{% if fn.inheritedFrom and fn.inheritedLink !== page.title %}
							<p>
								Inherited from: <a href="{{fn.inheritedFrom}}.html#{{fn.title}}">{{fn.inheritedFrom}}</a>
							</p>
						{% endif %}
					</td>
				</tr>
			{% endfor %}

		</table>
	</div>
</div>
{% endautoescape %}

<div class="panel panel-default">
	<div class="panel-heading">
		JSON API
		<div class="checkbox">
          <label>
            <input type="checkbox" id="toggle-Inheritance-property-visibility" onClick="togglePropertyVisibility()">Show Inherited</label>
        </div>
	</div>
	
	<div class="panel-body"  style="padding: 0px;">
		<table class="table table-hover table-bordered" style="margin-bottom: 0px;">
			<thead>
				<tr>
					<th>Name</th>
					<th>Type</th>
					<th>Instance</th>
					<th>Description</th>
					<th>Default Value</th>
				</tr>
			</thead>
			<tbody>

				{% for property in page.schema %}
					<tr {% if property.inheritedFrom %}class="inherited-property"{% endif %} {% if property.inheritedFrom %}style="display: none"{% endif %}>
						<td>
							<a name="{{property.name}}"></a>
							<p>{{property.name}}</p>
							{% if property.inheritedFrom %}
								<p>Inherited from: <a href="{{property.inheritedFrom.name}}.html#{{property.name}}">{{property.inheritedFrom.name}}</a></p>
							{% endif %}
						</td>
						<td>{{property.properties.type}}</td>
						<td>{{property.properties.instance}}</td>
						<td>{{property.properties.description}}</td>
						<td>{{property.properties.default}}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

<script>
function toggleVisibility(visibility) {
	var visibilityLevelFunctions = document.querySelectorAll(".function-"+visibility+"-visibility");
	var visibilityState = document.getElementById('toggle-Private-visibility').checked;
	var inheritanceState = document.getElementById('toggle-Inherited-visibility').checked;
	for(var i = 0; i < visibilityLevelFunctions.length; i++) {

		visibilityLevelFunctions[i].style.display = 
			(!visibilityLevelFunctions[i].classList.contains('function-Inherited-visibility') || visibilityLevelFunctions[i].classList.contains('function-Inherited-visibility') && inheritanceState) && 
			(!visibilityLevelFunctions[i].classList.contains('function-Private-visibility') || visibilityLevelFunctions[i].classList.contains('function-Private-visibility') && visibilityState) ? "block" : "none";
	}
}

function togglePropertyVisibility() {
	var visibilityLevelFunctions = document.querySelectorAll(".inherited-property");
	
	var inheritanceState = document.getElementById('toggle-Inheritance-property-visibility').checked;
	for(var i = 0; i < visibilityLevelFunctions.length; i++) {
		visibilityLevelFunctions[i].style.display = inheritanceState ? "table-row" : "none";
	}
}
</script>