{% autoescape false %}
	
	
	{% if page.data['xs:schema']['xs:annotation'] %}
		<p>{{page.data['xs:schema']['xs:annotation']['xs:documentation']}}</p>
	{% endif %}
	{% if page.data['xs:schema']['xs:element'] %}
		<div class="panel panel-default">
			<div class="panel-heading">Events and Actions</div>
			<div class="panel-body" style="padding: 0px">
				<table class="table">
					{% for element in page.data['xs:schema']['xs:element'] %}
						<tr>
							<td>
								<a name="{{element.name}}">{{element.name}}</a>

								{% if element['xs:annotation'] %}
									<p>{{element['xs:annotation']['xs:documentation']}}</p>
								{% endif %}

								{% if element['xs:complexType'] %}
									{% if Array.isArray(element['xs:complexType']['xs:sequence']['xs:element']) %}
										{% set dataElements = element['xs:complexType']['xs:sequence']['xs:element'] %}
									{% else %}
										{% set dataElements = [element['xs:complexType']['xs:sequence']['xs:element']] %}
									{% endif %}
									
									<p>Properties:</p>
									<ul>
										{% for dataElement in dataElements %} 
											{% if dataElement %}
												<li>
													{{dataElement.name}}
													{% if dataElement.type.indexOf('xs:') > -1 %}
														({{dataElement.type|replace('xs:', '')}})
													{% else %}
														{% if dataElement.type.indexOf(':') > -1 %}
															{% set extLink = page.namespaces[dataElement.type.split(':')[0]] %}
															{% set anchor = dataElement.type.split(':')[1] %}
															(<a href="/engine-protocol/{{extLink}}#{{anchor}}">{{dataElement.type|replace(":", ".")}}</a>)
														{% else %}
															{% set anchor = dataElement.type.split(':')[1] %}
															(<a href="#{{dataElement.type}}">{{anchor}}</a>)
														{% endif %}
													{% endif %}
												
												
													{% if dataElement['xs:annotation'] %}
														<p>{{dataElement['xs:annotation']['xs:documentation']}}</p>
													{% endif %}
												</li>	
											{% endif %}
										{% endfor %}
									</ul>
								{% endif %}
							</td>
						</tr>
					
					{% endfor %}
				</table>
			</div>
		</div>
	{% endif %}


	<div class="panel panel-default">
	{% if Array.isArray(page.data['xs:schema']['xs:complexType']) %}
		{% set types = page.data['xs:schema']['xs:complexType'] %}
	{% else %}
		{% set types = [page.data['xs:schema']['xs:complexType']] %}
	{% endif %}

	{% if types %}
		<div class="panel-heading">Data Types</div>
			<div class="panel-body" style="padding: 0px">
				<table class="table">
					{% for type in types %}
						<tr>
							<td>
								<a name="{{type.name}}">{{type.name}}</a>
								
								{% if type['xs:annotation'] %}
									<p>{{type['xs:annotation']['xs:documentation']}}</p>
								{% endif %}
								
								
								{% if type['xs:sequence'] and Array.isArray(type['xs:sequence']['xs:element']) %}
									{% set dataElements = type['xs:sequence']['xs:element'] %}
								{% elif type['xs:sequence'] %}
									{% set dataElements = [type['xs:sequence']['xs:element']] %}
								{% endif %}

								<p>Data Fields:</p>
								<ul>
									{% for dataElement in dataElements %} 
										
										<li>
											
											{{dataElement.name}}
											{% if dataElement.type.indexOf('xs:') > -1 %}
												({{dataElement.type|replace('xs:', '')}})
											{% else %}
												{% if dataElement.type.indexOf(':') > -1 %}
													{% set extLink = page.namespaces[dataElement.type.split(':')[0]] %}
													{% set anchor = dataElement.type.split(':')[1] %}
													(<a href="/engine-protocol/{{extLink}}#{{anchor}}">{{dataElement.type|replace(":", ".")}}</a>)
													
												{% else %}
													(<a href="#{{dataElement.type}}">{{dataElement.type}}</a>)
												{% endif %}
											{% endif %}
											
											
											{% if dataElement['xs:annotation'] %}
												<p>{{dataElement['xs:annotation']['xs:documentation']}}</p>
											{% endif %}
										</li>
										
									{% endfor %}
								</ul>
							</td>
						</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	{% endif %}

{% endautoescape %}