

{% macro listRender(title, listData) %}
	
	<div class="panel-heading">{{title}}</div>
	<table class="table">
	{% for listItem in listData %}
		{% if listItem !== "Connection" %}
			<tr>
				<td>
					{% set linkTitle = listItem.replace('http://games.odobo.com/', '') %}
					{% set itemTitle = listItem.replace('http://games.odobo.com/', '')|replace('rapidslot/protocol', '')|replace('/spinner', '')|replace(':', '') %}
					
					
					{% set link = linkTitle.split(':')[0]+".html#"+linkTitle.split(':')[1] %}
					{% if linkTitle.split(':')[1] %}
						<a href='/engine-protocol/{{link|replace('/', '%2f', 'g')}}'>{{itemTitle}}</a>
					{% else %}
						{{itemTitle}}
					{% endif %}
				</td>
			</tr>
		{% endif %}
	{% endfor %}
	</table>
	
{% endmacro %}


	
	<div class="panel panel-default">
		<div class="panel-heading">Math Model Data</div>
		<table class="table">
		{% for property in page.gameData.model %}
			{% if loop.key === "Confidence interval" %}
				<tr>
					<td class="table-cell {% if loop.last %}bottom{% endif %}">
						<em>Confidence Interval</em>
					</td>
					<td class="table-cell {% if loop.last %}bottom{% endif %}">
						<p>Minimum: {{property.min}}</p>
						<p>Maximum: {{property.max}}</p>
					</td>
				</tr>
			{% else %}
				<tr>
					<td class="table-cell {% if loop.last %}bottom{% endif %}">
						<em>{{loop.key}}</em>
					</td>
					<td class="table-cell {% if loop.last %}bottom{% endif %}">
						{{property}}
					</td>
				</tr>
			{% endif %}
		{% endfor %}
		</table>
	</div>
	

	
	<div class="panel panel-default">
			<div class="panel-heading">State Machine Overview (<a href="#" onclick="cy.fit()">reset</a>)</div>
		
		<div id="graph" style="height:492px; width: 100%; padding: 0 !important;">

		</div>
	</div>
	


<div class="panel panel-default">
	{{ listRender("Actions", page.gameData.actions) }}
	{{ listRender("Events", page.gameData.events) }}
	{{ listRender("Contexts", page.gameData.contexts) }}
	{{ listRender("Available Actions", page.gameData.availableActions) }}
</div>

<script>
	window.cy = cytoscape({
		container: document.getElementById('graph'),
		 style: cytoscape.stylesheet()
		.selector('node')
		.css({
			'content': 'data(id)',
			'text-valign': 'center',
			
			'color': 'white',
			'text-outline-width': 2,
			'text-outline-color': '#888'
		})
		.selector('edge')
		.css({
			'target-arrow-shape': 'triangle',
			'content': 'data(action)',
			'width': 4,
			'shape': 'rectangle',
			'line-color': '#ddd',
			'target-arrow-color': '#ddd',
			'control-point-distance': 100,
			'curve-style': 'bezier'
		})
		.selector('edge.action')
		.css({
			'line-style': 'dashed'
		})
		.selector('node.action')
		.css({
			'shape': 'octagon',
			'text-outline-color': '#4ba6db',
			'background-color': '#4ba6db'
		}),		
		elements: {
			nodes: [
				{% for flow in page.gameData.flows %}
					{ data: { id: "{{flow.startState}}"}, classes: "event, {{flow.startState}}"},
					{ data: { id: "{{flow.endState}}"}, classes: "event, {{flow.endState}}"},				
				{% endfor %}
			],
			edges: [
				{% for flow in page.gameData.flows %}
					{ data: { id: "{{flow.startState}}-{{flow.endState}}", source: "{{flow.startState}}", target: "{{flow.endState}}", action: "{{flow.action|replace('http://games.odobo.com/', '')|replace('http://gamecomponents.odobo.com/', '')}}" }},
				{% endfor %}
			]
		},


		layout: {
		    name: 'circle',
		    directed: true,
		    roots: ".INIT",
		    padding: 10
		},

		ready: function(){
			// cy.userZoomingEnabled( false );
			// cy.userPanningEnabled( false );
			// cy.autoungrabify( true );
			window.addEventListener('resize', function(){cy.fit();})
		}
	});

	
</script>

