{% autoescape false %}

	{% macro treeRender(view) %}
		<li>
			<p>
				<span style="font-weight: bold;">{{view.id}}</span>
				<a href="/component-reference/{{view.type}}.html">({{view.type}})</a>
				{% if view.classList %}
					(class: 
						{% for cls in view.classList %}
							<a href="/client-reference/classProperties.html#{{cls}}">{{cls}}</a>
							{% if !loop.last %}, {% endif %} 
						{% endfor %})
				{% endif %}
				{{view.description}}
			</p>
			<ul style="list-style: none;">
				{% for child in view.children %}
					{{ treeRender(child) }}
				{% endfor %}
			</ul>
		</li>
		
	{% endmacro %}
	
	{% for view in page.views %}
		<div class="panel panel-default">
			<div class="panel-heading">{{view.fileName}}</div>
			<div class="panel-body">
				<ul style="list-style: none; padding-left: 0px;">
					{{ treeRender(view.contents) }}
				</ul>
			</div>			
		</div>
	{% endfor %}
{% endautoescape %}