{% macro moduleBlock(block, name) %}
	<code>
		var module = rcRequire({{name}});
	</code>
{% endmacro %}

{% macro classBlock(block, name) %}
	{% if block.isConstructor %}

	{% endif %}
	
	{{block.description.full|safe}}
		
{% endmacro %}

{% macro methodBlock(block) %}
	<tr><td>
	{% if block.isPrivate %}<em style="color: rgb(153, 80, 48);">private</em>{% else %}<span style="color: rgb(56, 132, 176);">public</span>{% endif %}

	<strong>{{block.ctx.name}}</strong> (
		{% for tag in block.tags %}  
			{% if tag.type === "param" %}
				<span style='color: rgb(153, 80, 48);'>&lt;{{tag.types|join(', ')}}&gt;</span> <span style='color: rgb(56, 132, 176)'>{{tag.name}}</span> {% if !loop.last %}, {% endif %}
			{% endif %}
		{% endfor %}
	)

	<ul>
		{% for tag in block.tags %}  
			{% if tag.type === "param" and tag.description %}
				<li>{{tag.name}}: {{tag.description|safe}}</li>
			{% endif %}
		{% endfor %}
	</ul>

	{{block.description.full|safe}}
	</td></tr>
{% endmacro %}

{% for block in page.documentation %}
	{% set foundBlock = false %}
	{% for tag in block.tags %}
		{% if !foundBlock %}
			{% if tag.type === "module" %}
				{{ moduleBlock(block, tag.string) }}
				{% set foundBlock = true %}
			{% elif tag.type === "class" %}
				{{ classBlock(block, tag.string) }}
				{% set foundBlock = true %}
				<div class="panel panel-default">
					<div class="panel-heading">JavaScript Functions</div>
					<table class="table">
			{% endif %}
		{% endif %}
	{% endfor %}

	{% if block.ctx.type === "method" or block.ctx.type === "function" %}
		{% set foundBlock = true %}
		{{ methodBlock(block) }}

	{% endif %}
	
	
{% endfor %}

</table>
</div>