{% macro treeRender(name, entry, level %}

	{% set active = name === page.title %}
	
	{% if name === "raw" %}
		{{ entry }}
	{% else %}
		{% if entry.children and Object.keys(entry.children).length > 0 %}
			{% set open = name|hasOpenChild(entry.children, page.title) %}
		{% endif %}
		<li class="{% if open or active %}menu-open{% else %}menu-closed{% endif %} {% if active %}menu-active{% else %}menu-inactive{% endif %}" >
		{% if entry.href %}
			<a href='/{{ entry.href }}'>{{ name }}</a>
		{% else %}
			{{ name  }}
		{% endif %}
		{% set level = level + 1 %}
		{% if entry.children and Object.keys(entry.children).length > 0 %}
			{% if !entry.children.raw %}<ul>{% endif %}
				{% for child in entry.children %}
					{{ treeRender(loop.key, child, level) }}
				{% endfor %}
			{% if !entry.children.raw %}</ul>{% endif %}
		{% endif %}
		</li>
	{% endif %}
{% endmacro %}
<!DOCTYPE html>
<html lang='en' ng-app='ui'>

<head>
<meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>
<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
<meta name='apple-mobile-web-app-capable' content='yes' />
<meta name='description' content=''>
<meta name='author' content='odobo'>
<link rel='shortcut icon' href='http://cdn.odobo.com/ui/media/0.5.0/favicon/odobo-32.png'>
<script src="/scripts/cytoscape.min.js"></script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/xcode.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
<script>
	hljs.initHighlightingOnLoad();
	
	window.addEventListener('resize', function() {
		var header = document.getElementById('header');
		header.style.width = window.innerWidth+'px';
	});
</script>
<title>odobo &middot; Universal Slot Documentation</title>

<!-- <link href='http://cdn.odobo.com/ui/bp/0.5.0/ui.css' rel='stylesheet'> -->

<!-- inject:css -->
<link rel="stylesheet" href="/styles/ui.min.css">
<link rel="stylesheet" href="/styles/overrides.css">
<!-- endinject -->

<!--
            o.            .o
.oooo.    .oooo0:   .oooo.   :0oooo.    .oooo.
oo    oo  oo    oo  oo    oo  oo    oo  oo    oo
oo    oo  oo    oo  oo    oo  oo    oo  oo    oo
.oooo.    .oooo.    .oooo.    .oooo.    .oooo.

        .o. RAISE YOUR GAME .o.
    -->

</head>
<body>

	<div class="col-xs-12 col-md-12" id="header">
		<div class="container" style="max-width: 1060px">
			<div id="logo"></div>
			<div id="headline">
				Universal slot documentation
			</div>
		</div>
	</div>	
		


	<div class='container' style="max-width: 1060px">
		
		<div class="row">



			<div class="col-xs-12 col-md-4">
				<div class="side-nav" style="height: 100%; width: 100%;">
					<ul style="padding-left: 0px; padding-top: 0px" class="panel panel-default">
						{% for navigationEntry in navigation %}
							{% if page.title === loop.key %}
								{{treeRender(loop.key, navigationEntry, 0)}}
							{% else %}
								{{treeRender(loop.key, navigationEntry, 0)}}
							{% endif %}
						{% endfor %}
					</ul>
				</div>
			</div>
			
			<div class="col-xs-12 col-md-8">				
				
				
				<h2>
					{{page.title}}
				</h2>
				
				{%if page.version %}<h3><small>Version: {{page.version}}</small></h3>{% endif %}
				{% set tpl = './templates/'+page.template+'.html' %}
				{% include tpl %}
				<footer class='col-xs-12 text-center'>
					<p><small> &copy; {{year}} Odobo Limited</small></p>
				</footer>
			</div>
		</div>

	</div>
</body>
</html>
