body {
	-webkit-font-smoothing: antialiased;
	font-family: 'Open Sans', sans-serif;
}
@media (min-width: 992px) {
    .side-nav.fixed {
        position:fixed;
        overflow-x: scroll
    }
}

.side-nav ul li.menu-closed ul{
	display: none;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  text-transform: initial;
}

.container h2 {
	font-family: Open sans, sans-serif;
	font-weight: 400;
	font-size: 25px;
	color: #444;
	border-bottom: 1px solid #dfdfdf;
	padding-bottom: 15px;
	margin-top: 0px;
}

.container h1 {
	margin-top: 0px;
}

#headline {
	float: right;
	color: white;
	font-size: 22px;
	margin-top: 8px;
}

.row {
	margin-top: 50px;
}

#header {
	background-image: url(https://www.filepicker.io/api/file/wDoIR4LCTGSevHxEPy5t);
	height: 80px;
	-webkit-background-size: cover;
	background-position: 100% 0%;
	padding: 15px;
}

#logo {
	background-image: url(https://www.filepicker.io/api/file/KL68Z87EScOj3vDbkrhd);
	float: left;
	height: 40px;
	width: 150px;
	background-size: contain;
	box-sizing: border-box;
}

.container h2 a {
	font-size: 25px;
	font-weight: 400;
	color: #444;
}

.container h3, .container h4 {
	font-family: Open sans, sans-serif;
	font-weight: normal;
	font-size: 18px;
	color: #a1a1b3;
}

.container h3 a, .container h4 a {
	color: #a1a1b3;
}

.side-nav {
	box-shadow: rgb(238, 238, 238) 1px 0px 0px 0px;
}


.markdown th {
	font-weight: normal !important;
}

body {
	font-size: 14px;
}

.side-nav ul {
	list-style: none;
}

.side-nav > ul {
	border: none !important;
}

.side-nav ul li > a {
	font-size: 13px;
	color: rgb(102, 102, 102);
}

a {
	color: rgb(0, 150, 199);
}

.side-nav ul li.menu-closed > a {
	border-radius: 0px;
}

.side-nav ul ul li.menu-closed > a {
	border-radius: 0px;
	background-color: white;
}

.side-nav ul li.menu-open ul{
	display: block;
}

.side-nav ul li.menu-open > a {
	font-weight: bold;
	border-radius: 0px;

}

.panel {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.side-nav ul ul .menu-open > a {
	background-color: white;
	font-weight: normal;
	border-radius: 4px;
	display: block;
}

.side-nav ul ul .menu-active > a {
	font-weight: bold;
}

.side-nav ul ul a {
	border-radius: 4px !important;
	padding: 4px;
	margin: 2px;
	margin-right: 10px;
	padding-left: 10px;
	font-size: 13px;
	color: rgb(144, 144, 144);
}

.side-nav ul ul {
	font-size: 14px;
}

.markdown table {

}

.side-nav, .side-nav ul {
  padding-left: 10px;
}

li a {
	display: inline-block;
}

pre {
	background: white !important;
	box-shadow: 0 0 0 3px #eee;
}

pre code {
	border: none;
	tab-size: 4;
	padding: 0;
	font-size: 12px;
	background: white !important;
}

.checkbox {
	display: inline;
	margin-top: 1.5px !important;
	margin-left: 20px;
	float: right;
	margin-bottom: 0px !important;
}
